.music720-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.music720-music720 {
  width: 100%;
  height: 640px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(46, 204, 113, 1);
}
.music720-music-background-contribution {
  top: 0px;
  left: 284px;
  width: 1116px;
  height: 640px;
  position: absolute;
  border-radius: 50px 0 0 50px;
}
.music720-text {
  color: rgba(236, 240, 241, 1);
  width: 284px;
  height: auto;
  position: absolute;
  font-size: 70px;
  box-shadow: 4px 4px 4px 0px rgba(44, 62, 80, 0.5) ;
  font-style: Regular;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.music720-text2 {
  top: 61px;
  left: 344px;
  color: rgba(46, 204, 113, 1);
  width: 996px;
  height: auto;
  position: absolute;
  font-size: 50px;
  box-shadow: 2px 2px 4px 0px rgba(236, 240, 241, 0.11999999731779099) ;
  font-style: Regular;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.music720-text4 {
  top: 329px;
  left: 344px;
  color: rgba(46, 204, 113, 1);
  width: 996px;
  height: auto;
  position: absolute;
  font-size: 50px;
  box-shadow: 2px 2px 4px 0px rgba(236, 240, 241, 0.11999999731779099) ;
  font-style: Regular;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.music720-xf2d {
  top: 149px;
  left: 776px;
  width: 132px;
  height: 133px;
  position: absolute;
}
.music720-steroids {
  top: 416px;
  left: 776px;
  width: 132px;
  height: 132px;
  position: absolute;
}
.music720-ce {
  top: 149px;
  left: 596px;
  width: 133px;
  height: 133px;
  position: absolute;
}
.music720-dda {
  top: 416px;
  left: 596px;
  width: 133px;
  height: 132px;
  position: absolute;
}
.music720-fytd {
  top: 147px;
  left: 1134px;
  width: 133px;
  height: 133px;
  position: absolute;
}
.music720-eaam {
  top: 149px;
  left: 417px;
  width: 133px;
  height: 133px;
  position: absolute;
}
.music720-xf2 {
  top: 147px;
  left: 955px;
  width: 133px;
  height: 133px;
  position: absolute;
}
.music720-toyota {
  top: 414px;
  left: 955px;
  width: 133px;
  height: 132px;
  position: absolute;
}
