.music-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.music-music720 {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(87, 162, 119, 1);
}
.music-music-background-contribution {
  top: 0%;
  left: 22.1875%;
  width: 100%;
  height: 100%;
  position: absolute;
}
.music-text {
  color: rgba(236, 240, 241, 1);
  width: 22.1875%;
  height: 12.3611111%;
  display: flex;
  position: absolute;
  font-size: 6vmin;
  font-style: Regular;
  text-align: center;
  align-items: center;
  font-family: IBM Plex Mono;
  font-weight: bold;
  line-height: normal;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.25) ;
  font-stretch: normal;
  justify-content: center;
  scroll-behavior: center;
  text-decoration: none;
}
.music-text02 {
  top: 16.1111111%;
  left: 22.1875%;
  color: rgba(87, 162, 119, 1);
  width: 77.8125%;
  height: 5.97222222%;
  display: flex;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  align-items: center;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  justify-content: center;
  text-decoration: none;
}
.music-text04 {
  top: 53.3333333%;
  left: 22.1875%;
  color: rgba(87, 162, 119, 1);
  width: 77.8125%;
  height: 5.97222222%;
  display: flex;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  align-items: center;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  justify-content: center;
  text-decoration: none;
}
.music-link {
  display: contents;
}
.music-xf2d {
  top: 28.3333333%;
  left: 55.9375%;
  width: 10.390625%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.music-link1 {
  display: contents;
}
.music-steroids {
  top: 65.4166667%;
  left: 62.96875%;
  width: 10.390625%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.music-link2 {
  display: contents;
}
.music-ce {
  top: 28.3333333%;
  left: 41.875%;
  width: 10.390625%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.music-link3 {
  display: contents;
}
.music-dda {
  top: 65.4166667%;
  left: 48.90625%;
  width: 10.390625%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.music-link4 {
  display: contents;
}
.music-open-faced-non-sandwich {
  top: 65.4166667%;
  left: 34.84375%;
  width: 9.9%;
  display: flex;
  position: absolute;
  box-shadow: 1px 1px 10px 0px #000000;
  align-items: center;
  border-color: #ffffff;
  border-style: ridge;
  border-width: 5px;
  justify-content: center;
  text-decoration: none;
}
.music-link5 {
  display: contents;
}
.music-fytd {
  top: 28.3333333%;
  left: 83.90625%;
  width: 10.390625%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.music-link6 {
  display: contents;
}
.music-eaam {
  top: 28.3333333%;
  left: 27.890625%;
  width: 10.390625%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.music-link7 {
  display: contents;
}
.music-xf2 {
  top: 28.3333333%;
  left: 69.921875%;
  width: 10.390625%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.music-link8 {
  display: contents;
}
.music-toyota {
  top: 65.4166667%;
  left: 76.953125%;
  width: 10.390625%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.music-text06 {
  top: 12.3611111%;
  left: 0px;
  color: rgba(236, 240, 241, 1);
  width: 22.1875%;
  height: 12.3611111%;
  display: flex;
  position: absolute;
  font-size: 6vmin;
  font-style: Regular;
  text-align: center;
  align-items: center;
  font-family: IBM Plex Mono;
  font-weight: bold;
  line-height: normal;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.25) ;
  font-stretch: normal;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
}
.music-text08 {
  top: 24.7222222%;
  left: 0px;
  color: rgb(236, 240, 241);
  width: 22.1875%;
  height: 12.3611111%;
  display: flex;
  position: absolute;
  font-size: 6vmin;
  font-style: Regular;
  text-align: center;
  align-items: center;
  font-family: "IBM Plex Mono";
  font-weight: bold;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.25) ;
  font-stretch: normal;
  justify-content: center;
  text-decoration: none;
}
.music-text09 {
  top: 87.6388889%;
  left: 0px;
  color: rgba(236, 240, 241, 1);
  width: 22.1875%;
  height: 12.3611111%;
  display: flex;
  position: absolute;
  font-size: 6vmin;
  font-style: Regular;
  text-align: center;
  align-items: center;
  font-family: IBM Plex Mono;
  font-weight: bold;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.25) ;
  font-stretch: normal;
  justify-content: center;
  text-decoration: none;
}
