.policy-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.policy-about720 {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(87, 162, 119, 1);
}
.policy-policy-background-contribution {
  top: 0px;
  left: 22.1875%;
  width: 100%;
  height: 100%;
  position: absolute;
}
.policy-text {
  left: 24.140625%;
  color: rgba(87, 162, 119, 1);
  width: 946px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.policy-text11 {
  top: 0%;
  left: 0%;
  color: rgba(236, 240, 241, 1);
  width: 22.1875%;
  height: 12.3611111%;
  display: flex;
  position: absolute;
  font-size: 6vmin;
  font-style: Regular;
  text-align: center;
  align-items: center;
  font-family: IBM Plex Mono;
  font-weight: bold;
  line-height: normal;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.25) ;
  font-stretch: normal;
  justify-content: center;
  text-decoration: none;
}
.policy-text13 {
  top: 12.3611111%;
  left: 0px;
  color: rgba(236, 240, 241, 1);
  width: 22.1875%;
  height: 12.3611111%;
  display: flex;
  position: absolute;
  font-size: 6vmin;
  font-style: Regular;
  text-align: center;
  align-items: center;
  font-family: IBM Plex Mono;
  font-weight: bold;
  line-height: normal;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.25) ;
  font-stretch: normal;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
}
.policy-text15 {
  top: 24.7222222%;
  left: 0px;
  color: rgba(236, 240, 241, 1);
  width: 22.1875%;
  height: 12.3611111%;
  display: flex;
  position: absolute;
  font-size: 6vmin;
  font-style: Regular;
  text-align: center;
  align-items: center;
  font-family: IBM Plex Mono;
  font-weight: bold;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.25) ;
  font-stretch: normal;
  justify-content: center;
  text-decoration: none;
}
.policy-text17 {
  top: 87.6388889%;
  left: 0px;
  color: rgba(236, 240, 241, 1);
  width: 22.1875%;
  height: 12.3611111%;
  display: flex;
  position: absolute;
  font-size: 6vmin;
  font-style: Regular;
  text-align: center;
  align-items: center;
  font-family: IBM Plex Mono;
  font-weight: bold;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.25) ;
  font-stretch: normal;
  justify-content: center;
  text-decoration: none;
}
